client/.pio
client/.vscode/.browse.c_cpp.db*
client/.vscode/c_cpp_properties.json
client/.vscode/launch.json
client/.vscode/ipch
client/.vscode/extensions.json
client/ANT_softdevice/ANT_s340_nrf52840_6.1.1.hex
client/ANT_softdevice/ANT_s340_nrf52840_6.1.1.API/include
client/.travis.yml

server/__pycache__*
server/ant/__pycache__*
server/ant/base/__pycache__*
server/ant/easy/__pycache__*
server/ant/fs/__pycache__*
server/ant/tests*
